:host {
    display: block;
    width: 100%;
}

.task-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 48px;
    border-radius: 16px;
    padding: 1rem;
    gap: 0.5rem;
    background: white;

    .task-row {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }

    .task-description {
        margin: 0;
        padding-left: 60px;
    }

    &.inprogress {
        background: #ffe082;
    }

    &.completed {
        background: #b9fbc0;
    }

    &.wontdo {
        background: #f57899;
    }

    &.todo {
        background: #e6eaf8;
    }


    .task-content {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        flex: 1;

        .task-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            border-radius: 12px;
            background: rgba(255, 255, 255, 0.5);
        }

        .task-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

    }

    .task-status {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.5);

        &.todo {
            background: transparent;
        }
    }

}