<div class="page">
    <button (click)="onDefaultBoard(selectedBoard()?.id ?? 0)">Set as Default</button>

  <div ngCombobox readonly>
    <div #origin class="select">
      <span class="combobox-label">
        <span class="selected-label-text">{{ displayValue() }}</span>
      </span>
      <input aria-label="Label dropdown" placeholder="Select a label" ngComboboxInput />
      <span class="example-arrow material-symbols-outlined" translate="no" aria-hidden="true">arrow_drop_down</span>
    </div>

    <ng-template ngComboboxPopupContainer>
      <ng-template [cdkConnectedOverlay]="{origin, usePopover: 'inline', matchWidth: true}"
        [cdkConnectedOverlayOpen]="true">
        <div class="example-popup-container">
          <div ngListbox>
            @for (board of boards(); let i = $index; track board) {
            <div ngOption [value]="board.id" [label]="board.name" tabindex="0" (click)="onSelectBoard(board.id)"
              (keydown.enter)="onSelectBoard(board.id)">
              <span class="example-option-text">{{ board.name }}</span>
              <span class="example-option-check material-symbols-outlined" translate="no" aria-hidden="true">check</span>
            </div>
            }
          </div>
        </div>
      </ng-template>
    </ng-template>
  </div>




  <section class="results">
    @if (isEditing) {
      <input #nameInput [value]="selectedBoard()?.name" (keydown.enter)="descInput.focus()" style="font-weight:bold;" />
      <input #descInput [value]="selectedBoard()?.description" (keydown.enter)="onSaveBoth(nameInput.value, descInput.value)" (blur)="onSaveBoth(nameInput.value, descInput.value)"/>
    } @else {
      <div style="display:flex; flex-direction:row; gap:1rem; align-items:center;">
        <h1>{{ selectedBoard()?.name }}</h1>
        <ng-icon name="heroPencilSquare" size="24px" style="cursor:pointer;" (click)="onStartEditing()" />
      </div>
      <p>{{ selectedBoard()?.description }}</p>
    }
    <div class="task-container">
      @for(task of selectedBoard()?.tasks || []; track task.id ) {
      <app-task [task]="task" (taskUpdated)="boardsResource.reload()" />
      }
      <button (click)="onCreateNewTask()" class="add-task">
        <ng-icon name="heroPlusCircle" size="24px" />
        <h3>Add new task</h3>
      </button>
    </div>
  </section>
</div>
